.result-holder {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.result-title {
    flex-basis: 100%;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 10px;
}

.result-line {
    flex-basis: 100%;
    font-size: 24px;
    margin-top: 8px;
}