.answer-input-holder {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.question-title {
    flex-basis: 100%;
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.question-input {
    width: 250px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    font-size: 24px;
    text-align: center;
}

.question-input:focus {
    outline-width: 0;
}

.send-button {
    background-color: #444444;
    border: none;
    color: white;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    font-size: 20px;
    width: 95px;
    position: relative;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
  
.send-button:after {
    content: "";
    background: #b0ffdc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.send-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.send-button:focus {
    outline-width: 0;
}