.alternative-holder {
    box-shadow: inset 2px 2px 2px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    background-color: #a9fedb;
    margin: 50px 20px 0 20px;
    padding: 15px;
    border-radius: 20px;
    width: 500px;
    flex-wrap: wrap;
}

.alternative-holder-title {
    flex-basis: 100%;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alternative-knowledge-holder {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.alternative-knowledge-title {
    flex-basis: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alternative-knowledge-entries-holder {
    flex-basis: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: fit-content;
}

.alternative-entry-holder {
    margin: 10px;
    flex-basis: 100%;
    width: fit-content;
}

.alternative-entry-key {
    font-weight: bold;
    margin-right: 3px;
}

.alternative-entry-value {
    font-style: italic;
}

.alternative-result-holder {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 10px;
}

.alternative-result-title {
    flex-basis: 100%;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.alternative-result-line-holder {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.alternative-result-line {
    flex-basis: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}